{{#each borrow.books}}
<tr {{#if @first}}id="borrow-{{../borrow.id}}"{{/if}} {{#if_eq ../borrow.id ../activeID}}class="table-primary"{{/if_eq}}>
    {{#if @first}}
    <th scope="row" rowspan="{{../borrow.books.length}}">{{../borrow.id}}</th>
    {{/if}}
    <td>{{this.id}}</td>
    <td>
        <a href="/librarian/book?id={{this.id}}">
            {{this.name}}
        </a>
    </td>
    <td>{{this.author}}</td>    
    <td></td>
    {{#if @first}}
    <td class="tab-cell-center" rowspan="{{../borrow.books.length}}">{{datetimeToString ../borrow.bookedBorrowDate}}</td>
    <td class="tab-cell-center" rowspan="{{../borrow.books.length}}">{{dateToString ../borrow.returnDueDate}}</td>
    <td class="tab-cell-center" rowspan="{{../borrow.books.length}}">

        <button class="btn btn-primary" type="button" id="btn-confirm-borrow">
            <i class="fa fa-check"></i>
        </button>
        <button class="btn btn-secondary" type="button" id="btn-edit-borrow">
            <i class="fa fa-edit"></i>
        </button>
        <button class="btn btn-danger" type="button" id="btn-delete-borrow">
            <i class="fa fa-trash"></i>
        </button>
    </td>
    {{/if}}
</tr>
{{/each}}
