<link rel="stylesheet" href="/stylesheets/borrow-card.css">
<div class="borrow-card" data-borrow-id="{{borrowInfo.id}}">
    <div class="borrow-card-header">
        <div class="borrower-name">
            {{borrowInfo.borrower.name}}
        </div>
        <div class="borrower-id">
            {{borrowInfo.borrower.id}}
        </div>
    </div>

    <div class="book-container">
        {{#each borrowInfo.books}}
        <div class="book-item">
            <div class="book-id">
                {{this.id}}
            </div>
            <div class="book-name">
                {{this.name}}
            </div>
        </div>
        {{/each}}
    </div>
</div>