<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg-white container-fluid" style="width: 100%;">
    <div class="row  justify-content-between">
        <div class="title-section text-left">Quản lý tài khoản</div>
        <div class="text-right" style="padding-right: 10px; padding-top:20px">
            <div> <img src="/images/icon-export.svg" alt=""> Xuất ra csv</div>
            <div><img src="/images/icon-import.svg" alt=""> Nhập từ csv</div>
        </div>
    </div>
    <div class="search-area row padding-top-3em ">
        <div id="" class="input-group col-md-6 padding-right-3em">
            <input type="text" id="search-acc" class="form-control" placeholder="Tìm id, username, ..."
                aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="#"><img src="/images/search-icon.svg" alt="" style="width: 20px;"></a>
            </div>
        </div>
        <div class="row col-md-6 justify-content-center mt-2 mt-md-0">
            <div class="padding-right-3em col text-center">
                <select name="Loại tài khoản" id="account-type" style="height: 40px; border-radius: 10px">
                    <option value="type">Loại tài khoản</option>
                    <option value="teacher">Giáo viên</option>
                    <option value="student">Sinh viên</option>
                </select>
            </div>

            <div class="col">
                <select name="trạng thái" id="status" class="text-center" style="height: 40px; border-radius: 10px">
                    <option value="status">Trạng thái</option>
                    <option value="activate">Hoạt động</option>
                    <option value="deactivate">Ngưng hoạt động</option>
                </select>
            </div>
        </div>

    </div>
    <div class="table-responsive padding-top-3em">
        <table class="table" id="table-manager">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" scope="col">Mã tài khoản</th>
                    <th style="white-space: nowrap;" scope="col">Tên Đăng Nhập</th>
                    <th style="white-space: nowrap;" scope="col">Email</th>
                    <th style="white-space: nowrap;" scope="col">Tên người dùng</th>
                    <th style="white-space: nowrap;" scope="col">Loại tài khoản</th>
                    <th style="white-space: nowrap;" scope="col">Mượn trả</th>
                    <th style="white-space: nowrap;" scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                {{#each account_data}}

                <tr class="account-data">
                    <th style="white-space: nowrap;" scope="row" class="l-height-3">{{this.accountID}}</th>
                    <th style="white-space: nowrap;" scope="row" class="l-height-3"> {{this.account_name}}</th>
                    <th style="white-space: nowrap;" class="l-height-3">{{this.email}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.username}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.type}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.borow}}/{{this.give_back}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.activate}}</th>
                </tr>

                {{/each}}
            </tbody>

        </table>
    </div>
    <div style="padding-bottom: 3em;">
    </div>

    <script src="/function/nav-lib.js" current_page="Quản lí tài khoản"></script>