<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/stylesheets/slick-here.css">

<div class="container-fluid bg-white first-section">

    <div class="row padding-top-3em">
        <div class="col-md-10 no-padding">
            <div class="book-detail row" style="padding-left: 10px;">
                <div class="col-md-3  text-md-left text-center">
                    <img src="{{book.image_url}}" alt="">

                </div>
                <div class="col-md-9">
                    <div style="padding: 15px 0px 15px 10px; width: 100%;">
                        <div class="book-name font-size-xx text-color-2980B9">
                            {{book.book_name}}
                        </div>
                        <div class="book-author text-color-grey">
                            Tác giả: <span class="text-color-408CFF">
                                {{#each book.author}}
                                {{this.name}}
                                {{/each}}
                            </span>
                        </div>
                        <div class="book-star-review">
                            {{#each book.average_rate}}
                            {{#if_eq this 1}}
                            <span class="fa fa-star star-checked"></span>
                            {{else}}
                            {{#if_eq this 0.5}}
                            <span class="fa fa-star-half star-checked"></span>
                            {{else}}
                            <span class="fa fa-star"></span>
                            {{/if_eq}}
                            {{/if_eq}}
                            {{/each}}
                            <span class="padding-left-3em text-color-408CFF">{{book.book_rates}} đánh giá</span>
                        </div>
                        <div class="book-review padding-top-3em">
                            {{book.desc}}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2 no-padding">
            <div class="feature-button text-center padding-top-3em">
                {{#if user.username}}
                <form action="" method="post">
                    <button type="submit" class="borrow-button font-normal-bold">Mượn sách</button>
                </form>

                {{else}}
                <button class="borrow-button font-normal-bold" disabled style="background-color: grey;">Mượn
                    sách</button>
                {{/if}}
                <div style="display:block;">
                    <i class="fa fa-comments-o text-color-408CFF" aria-hidden="true"></i> <a href="#comment-box"
                        style="padding-left: 5px; color: #408CFF;">đánh giá</a><br>
                    <i class="fa fa-envelope-o text-color-408CFF" aria-hidden="true"></i> <a href="#"
                        style="padding-left: 5px; color: #408CFF;">Liên hệ tác
                        giả</a><br>
                    <i class="fa fa-shopping-cart text-color-408CFF" aria-hidden="true"></i> <a href="/carts"
                        style="padding-left: 5px; color: #408CFF;">Kiểm tra giỏ
                        sách</a><br>
                </div>
            </div>
        </div>

    </div>
    <div class="related-book padding-left-3em" style="font-weight: bold;">Các Sách tương tự</div>
    <div class="slick-book-here">
        {{#each book.related_booklist}}
        <a href="/book-detail/{{this._id}}" style="color: inherit;">
            <div class="card" style=" border:none;">
                <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
                <div class="card-body" style="padding:10px">
                    <p class="card-text" style="margin: 0;">
                        {{this.book_name}}
                    </p>
                    <p class="card-text">
                        {{this.author}}
                    </p>

                </div>
            </div>
        </a>
        {{/each}}
    </div>
    {{#if user.username}}
    <div class="comment-area padding-top-3em padding-left-3em">
        <img src="/images/news-thumbnail.png" alt="" class="avatar">
        <span>{{user.username}}</span>
        {{!TODO: cho phép click}}
        <div class="">
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <div>
            <textarea name="" id="comment-box" rows="10" placeholder="Đánh giá sách..."></textarea>
        </div>
        <div class="text-center text-md-right" style="padding-right: 50px;">
            <button class="customized-btn blue-bg-white-text" style="border:none; background-color: #3498db;">Xác
                nhận</button>
        </div>
    </div>
    {{else}}
    <div class="comment-area padding-top-3em padding-left-3em text-center" style="color: red;">Vui lòng đăng nhập để có
        thể đánh giá bình luận</div>
    {{/if}}


    <div class="related-book" style="padding-left: 2em; font-weight:bold;">Các đánh giá</div>
    <div class="comment-area padding-top-3em padding-left-3em">
        {{#each book.user_comments}}
        <img src={{this.image_url}} alt="" class="avatar">
        <span>{{this.username}} </span>
        <div class="">
            {{#each this.rate}}
            {{#if_eq this 1}}
            <span class="fa fa-star star-checked"></span>
            {{else}}
            {{#if_eq this 0.5}}
            <span class="fa fa-star-half star-checked"></span>
            {{else}}
            <span class="fa fa-star"></span>
            {{/if_eq}}
            {{/if_eq}}
            {{/each}}
        </div>
        <div style="padding-bottom: 3em;">
            <div class="book-review">
                {{this.content}}
            </div>
        </div>
        {{/each}}

    </div>
</div>