<link rel="stylesheet" href="/stylesheets/buy-book.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<div class="container-fluid  first-section bg-white padding-left-3em content-section">
    <div style="width: 100%; text-align: center; padding: 2em 0;" class=" title-section font-size-xx text-color-408CFF">
        Đăng ký mua
        sách</div>
    <form id ="formData">
        <div class="row justify-content-center">
            <div class="book-info  col-md-4 ml-md-4">
                <div>
                    <div>Tên sách</div>
                    <input type="text" name="book_name" id="book-name" class="text-box-size-100-per"
                        placeholder="Kỹ nghệ phần mềm" value="{{buyBookSection.book_name}}">
                </div>
                <div class="padding-top-1em">
                    <div>Tác giả</div>
                    <input type="text" name="author" id="book-author" class="text-box-size-100-per"
                        placeholder="Lê Văn Phùng" value="{{buyBookSection.author}}">
                </div>
                <div class="padding-top-1em">
                    <div>Tải bản lần thứ</div>
                    <input type="text" name="reprint" id="book-renumber" class="text-box-size-100-per"
                        placeholder="3" value="{{buyBookSection.reprint}}">
                </div>
                <div class="padding-top-1em">
                    <div>Nhà xuất bản</div>
                    <input type="text" name="producer" id="book-producer" class="text-box-size-100-per"
                        placeholder="NXB trẻ" value="{{buyBookSection.producer}}">
                </div>
                <div class="padding-top-1em">
                    <div>Discipline</div>
                    <input type="text" name="discipline" id="discipline" class="text-box-size-100-per"
                        placeholder="Ai" value="{{buyBookSection.discipline}}">
                </div>
                <div class="padding-top-1em">
                    <div>ISBN</div>
                    <input type="text" name="book_isbn" id="ISBN" class="text-box-size-100-per" placeholder="0123456789" value="{{buyBookSection.book_isbn}}">
                </div>
            </div>
        </div>
        <div class="padding-top-1em text-center">
            <button id ="btn-submit" type="submit" class="customized-btn blue-bg-white-text" style="border:none; background-color: #3498db;">Xác
                nhận</button>
            <button class="customized-btn white-bg-black-text" style="padding: 5px 13px; margin-left:5px">
                <div style="width:8ch">Hủy</div>
            </button>
        </div>
    </form>

</div>
<script src="/function/buybook.js" current_page="Đăng ký mua sách"></script>
{{!-- <script src="/function/upload.js"></script> --}}