<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="container-fluid first-section bg-white">
    <div class="title-section text-center">Quản lý đặt sách</div>

    <div class="content-section row justify-content-center bg-white no-padding align-items-center">
        <div id="" class="input-group col-md-6">
            <input type="text" id="search-book" class="form-control" placeholder="Tìm kiếm sách, tin tức, ..."
                aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="#"><img src="/images/search-icon.svg" alt="" style="width: 20px;"></a>
            </div>
        </div>

        <div class="col-md-1 text-md-left text-center m-1 m-lg-0">
            <select class="select-box" name="sách đã mua" id="" style="height: 40px; border-radius: 10px; padding: 5px">
                <option value="booking-book">Sách đã đặt</option>
                <option value="bought-book">Sách đã mua</option>
            </select>
        </div>
    </div>

    <div class="table-responsive padding-left-3em">
        <table class="table" id="table-manager">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" scope="col">ISBN</th>
                    <th style="white-space: nowrap;" scope="col">user id</th>
                    <th style="white-space: nowrap;" scope="col">Tên Sách</th>
                    <th style="white-space: nowrap;" scope="col">Tái bản</th>
                    <th style="white-space: nowrap;" scope="col">Tác giả</th>
                    <th style="white-space: nowrap;" scope="col">Nhà sản xuất</th>
                    <th style="white-space: nowrap;" scope="col">discipline</th>
                    <th style="white-space: nowrap;" scope="col">Ngày đặt</th>
                    <th style="white-space: nowrap;" scope="col" id="activate">Hoạt động</th>
                </tr>
            </thead>
            <tbody>
                {{#each Booking_arr.booking_book}}

                <tr class="booking-data">
                    <th style="display: none; white-space: nowrap;" scope="row" class="l-height-3 num">{{this._id}}</th>
                    <th style="white-space: nowrap;" scope="row" class="l-height-3">{{this.book_isbn}}</th>
                    <th style="white-space: nowrap;" scope="row" class="l-height-3"> {{this.user_id}}</th>
                    <th style="white-space: nowrap;" class="l-height-3">{{this.book_name}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.reprint}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.author}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.producer}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.discipline}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.date_registed}}</th>
                    <th style="white-space: nowrap;"><button onclick="test(this)" class="confirm-button">
                            <div style="width: 6ch;">

                                Sửa
                            </div>
                        </button>
                        <button class="customized-btn" style="padding: 5px 13px">Hủy bỏ</button>
                    </th>
                </tr>

                {{/each}}
                {{#each Bought_arr.bought_book}}
                <tr class="bought-book-data" style="display: none;">
                    <th style="white-space: nowrap;" scope="row" class="l-height-3">{{this.book_isbn}}</th>
                    <th style="white-space: nowrap;" scope="row"> {{this.user_id}}</th>
                    <th style="white-space: nowrap;" class="l-height-3">{{this.book_name}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.reprint}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.author}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.producer}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.discipline}}</th>
                    <th style="white-space: nowrap;" class="l-height-3">{{this.date_registed}}</th>
                </tr>
                {{/each}}
            </tbody>

        </table>
    </div>
    <div style="padding-bottom: 3em;">

    </div>
</div>

<script>
    function test(param) {
        rowData = param.parentElement.parentElement.cells
        console.log(rowData[0].innerText)
        window.location.href = "/buy-book/" + rowData[0].innerText
    }
</script>
<link rel="stylesheet" href="/stylesheets/buy-book-manager.css">
<script src="/function/buy-book-menu.js"></script>