<link rel="stylesheet" href="/stylesheets/slick-here.css">
<div class="container-fluid" style="padding:0; width:95%">
    <div class="content-section picture-search d-flex justify-content-center bg-white no-padding align-items-center">
        <div id="searchbar-in-picture" class="input-group col-8">
            <input type="text" class="form-control" placeholder="Tìm kiếm sách, tin tức, ..." aria-label="Username"
                aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="/search"><img src="/images/search-icon.svg" alt=""
                        style="width: 20px;"></a>
            </div>
        </div>
    </div>

    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionSachHot.title}}</div>
        <ul class="nav nav-pills nav-fill align-items-center slick-nav-book-here" role="tablist" style="padding:5px;">
            {{#each sectionSachHot.list_categories}}
            {{#if @first}}
            <li class="nav-item col-sm-2  " style="padding: 0; margin:0">
                <a class="nav-link active" id="pills-{{this._id}}-tab" data-toggle="pill" href="#pills-{{this._id}}"
                    role="tab" aria-controls="pills-{{this._id}}" aria-selected="true">
                    {{this.name}}
                </a>
            </li>
            {{else}}
            <li class="nav-item col-sm-2 " style="padding: 0; margin:0">
                <a class="nav-link" id="pills-{{this._id}}-tab" data-toggle="pill" href="#pills-{{this._id}}" role="tab"
                    aria-controls="pills-{{this._id}}" aria-selected="false">
                    {{this.name}}
                </a>
            </li>
            {{/if}}
            {{/each}}

        </ul>


        {{!Carousel book list, for disc for book check disc}}
        <div class="tab-content">
            {{#each sectionSachHot.list_categories}}
            {{#if @first}}
            <div class="tab-pane fade show active" id="pills-{{this._id}}" role="tabpanel"
                aria-labelledby="pills-{{this._id}}-tab">

                <div class="slick-book-here">
                    {{#each this.books}}
                    <a href="/book-detail/{{this._id}}" style="color: inherit;">
                        <div class="card" style=" border:none;">
                            <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
                            <div class="card-body" style="padding:10px">
                                <p class="card-text" style="margin: 0;">
                                    {{this.book_name}}
                                </p>
                                <p class="card-text">
                                    {{this.author}}
                                </p>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{else}}
            <div class="tab-pane fade " id="pills-{{this._id}}" role="tabpanel"
                aria-labelledby="pills-{{this._id}}-tab">
                <div class="slick-book-here">
                    {{#each this.books}}
                    <a href="/book-detail/{{this._id}}" style="color: inherit;">
                        <div class="card" style=" border:none;">
                            <img class="card-img-top" src={{this.image_url}} alt="Card image cap">
                            <div class="card-body" style="padding:10px">
                                <p class="card-text" style="margin: 0;">
                                    {{this.book_name}}
                                </p>
                                <p class="card-text">
                                    {{this.author}}
                                </p>
                            </div>
                        </div>
                    </a>
                    {{/each}}
                </div>
            </div>
            {{/if}}
            {{/each}}

        </div>
        
    </div>

    {{!News section}}
    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionTinTuc.title}}</div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col-md">
                <div class="d-flex justify-content-center">
                    {{#each sectionTinTuc.articles}}
                    {{#if @first}}
                    <div class="card" style="width: 220px; border:none;">
                        <a href="/news-detail">
                            <div class="card-body" style="padding:5px">
                                <p class="card-text" style="margin: 0; font-size:22px; color:black;">
                                    {{this.title}}
                                </p>
                                <p class="card-text" style="color:grey;">
                                    {{this.date}}
                                </p>
                            </div>
                            <img class="card-img-top" src={{this.image_url}} alt="Card image cap"
                                style="padding-bottom: 20px;">
                        </a>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            <div class="col-md">
                <div class="d-flex justify-content-center">
                    <div>
                        <div style="color: #3498DB; font-size:25px; font-weight:bold;">{{sectionTinTuc.other_news}}
                        </div>
                        {{#each sectionTinTuc.articles}}
                        {{#if @first}}
                        {{else}}
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        {{/if}}
                        {{/each}}
                        <a href="/news">
                            <div class="text-right" style="color: #3498DB; font-weight:bold;">
                                {{sectionTinTuc.more_news}}</div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<script src="/function/change-nav.js" current_page="Trang chủ"></script>