<div class="container-fluid" style="padding:0; width:95%">
    <div class="content-section picture-search d-flex justify-content-center bg-white no-padding align-items-center">
        <div id="searchbar-in-picture" class="input-group col-8">

            <input type="text" class="form-control" placeholder="Tìm kiếm sách, tin tức, ..." aria-label="Username"
                aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="/search"><img src="/images/search-icon.svg" alt=""
                        style="width: 20px;"></a>
            </div>
        </div>
    </div>
    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionSachHot.title}}</div>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#each sectionSachHot.list_categories}}
                {{#if @first}}
                <div class="carousel-item active">
                    <ul class="nav nav-pills nav-fill align-items-center" style="padding:5px">
                        {{#each this}}
                        {{#if @first}}
                        <li class="nav-item col-sm-2  ">
                            <a class="nav-link active-modified-list-cs" href="#">
                                {{this}}
                            </a>
                        </li>
                        {{else}}
                        <li class="nav-item col-sm-2 ">
                            <a class="nav-link text-dark" href="#">
                                {{this}}
                            </a>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
                {{else}}
                <div class="carousel-item">
                    <ul class="nav nav-pills nav-fill align-items-center" style="padding:5px">
                        {{#each this}}
                        <li class="nav-item col-sm-2 ">
                            <a class="nav-link text-dark" href="#">
                                {{this}}
                            </a>
                        </li>

                        {{/each}}
                    </ul>
                </div>
                {{/if}}
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        {{!Carousel book list}}
        <div id="carousel_booklist" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {{#each sectionSachHot.books}}
                <div class="carousel-item {{#if @first}} active {{/if}} ">
                    <a href="/book-detail" style="color: inherit;">
                        <div class="row justify-content-around">
                            {{#each this}}
                            <div class="card col-md-2 col" style=" border:none;">
                                <img class="card-img-top" src={{this.thumbnail}} alt="Card image cap">
                                <div class="card-body" style="padding:10px">
                                    <p class="card-text" style="margin: 0;">
                                        {{this.name}}
                                    </p>
                                    <p class="card-text">
                                        {{this.author}}
                                    </p>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
            <a class="carousel-control-prev" href="#carousel_booklist" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel_booklist" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>


    </div>

    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionTinTuc.title}}</div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    {{#each sectionTinTuc.articles}}
                    {{#if @first}}

                    <div class="card" style="width: 220px; border:none;">
                        <a href="/news-detail">
                            <div class="card-body" style="padding:5px">
                                <p class="card-text" style="margin: 0; font-size:22px; color:black;">
                                    {{this.title}}
                                </p>
                                <p class="card-text" style="color:grey;">
                                    {{this.date}}
                                </p>
                            </div>
                            <img class="card-img-top" src={{this.thumbnail}} alt="Card image cap"
                                style="padding-bottom: 20px;">
                        </a>
                    </div>


                    {{/if}}
                    {{/each}}
                </div>


            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div>
                        <div style="color: #3498DB; font-size:25px; font-weight:bold;">{{sectionTinTuc.other_news}}
                        </div>
                        {{#each sectionTinTuc.articles}}
                        {{#if @first}}
                        {{else}}
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="/news-detail">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        {{/if}}
                        {{/each}}
                        <a href="/news">
                            <div class="text-right" style="color: #3498DB; font-weight:bold;">
                                {{sectionTinTuc.more_news}}</div>
                        </a>

                    </div>

                </div>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<script src="/function/change-nav.js" current_page="Trang chủ"></script>