<div class="container-fluid" style="padding:0; width:95%">
    <div class="content-section picture-search d-flex justify-content-center bg-white no-padding align-items-center">
        <div id="searchbar-in-picture" class="input-group col-8">

            <input type="text" class="form-control" placeholder="Tìm kiếm sách, tin tức, ..." aria-label="Username"
                aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="#"><img src="/images/search-icon.svg" alt="" style="width: 20px;"></a>
            </div>
        </div>
    </div>
    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionSachHot.title}}</div>
        <ul class="nav nav-pills nav-fill align-items-center" style="padding:5px">
            {{#each sectionSachHot.list_categories}}
            {{#if @first}}
            <li class="nav-item">
                <a class="nav-link active-modified-list-cs" href="#">
                    {{this}}
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link text-dark" href="#">
                    {{this}}
                </a>
            </li>
            {{/if}}
            {{/each}}
            <li class="nav-item text-right">
                <img src="/images/icon-more-list-field.png" alt="" style="height: 20px;">
            </li>
        </ul>
        <div class="row justify-content-around">
            <div class="card" style="width: 200px; border:none;">
                <img class="card-img-top" src="/images/book-thumbnail.png" alt="Card image cap">
                <div class="card-body" style="padding:10px">
                    <p class="card-text" style="margin: 0;">
                        Kỹ nghệ phần mềm
                    </p>
                    <p class="card-text">
                        TS. Lê Văn Phùng
                    </p>
                </div>
            </div>
            <div class="card" style="width: 200px; border:none;">
                <img class="card-img-top" src="/images/book-thumbnail.png" alt="Card image cap">
                <div class="card-body" style="padding:10px">
                    <p class="card-text" style="margin: 0;">
                        Kỹ nghệ phần mềm
                    </p>
                    <p class="card-text">
                        TS. Lê Văn Phùng
                    </p>
                </div>
            </div>
            <div class="card" style="width: 200px; border:none;">
                <img class="card-img-top" src="/images/book-thumbnail.png" alt="Card image cap">
                <div class="card-body" style="padding:10px">
                    <p class="card-text" style="margin: 0;">
                        Kỹ nghệ phần mềm
                    </p>
                    <p class="card-text">
                        TS. Lê Văn Phùng
                    </p>
                </div>
            </div>
            <div class="card" style="width: 200px; border:none;">
                <img class="card-img-top" src="/images/book-thumbnail.png" alt="Card image cap">
                <div class="card-body" style="padding:10px">
                    <p class="card-text" style="margin: 0;">
                        Kỹ nghệ phần mềm
                    </p>
                    <p class="card-text">
                        TS. Lê Văn Phùng
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section bg-white no-padding">
        <div class="title-section text-center">{{sectionTinTuc.title}}</div>
        <div class="row">
            <div class="col-2"></div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    {{#each sectionTinTuc.articles}}
                    {{#if @first}}
                    <a href="">
                        <div class="card" style="width: 220px; border:none;">

                            <div class="card-body" style="padding:5px">
                                <p class="card-text" style="margin: 0; font-size:22px; color:black;">
                                    {{this.title}}
                                </p>
                                <p class="card-text" style="color:grey;">
                                    {{this.date}}
                                </p>
                            </div>
                            <img class="card-img-top" src={{this.thumbnail}} alt="Card image cap"
                                style="padding-bottom: 20px;">

                        </div>
                    </a>

                    {{/if}}
                    {{/each}}
                </div>


            </div>
            <div class="col">
                <div class="d-flex justify-content-center">
                    <div>
                        <div style="color: #3498DB; font-size:25px; font-weight:bold;">{{sectionTinTuc.other_news}}
                        </div>
                        {{#each sectionTinTuc.articles}}
                        {{#if @first}}
                        {{else}}
                        <a href="#">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="#">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        <a href="#">
                            <div style="color: black;">{{this.title}}</div>
                            <div style="color: grey;">{{this.date}}</div>
                        </a>
                        {{/if}}
                        {{/each}}
                        <a href="#">
                            <div class="text-right" style="color: #3498DB; font-weight:bold;">
                                {{sectionTinTuc.more_news}}</div>
                        </a>

                    </div>

                </div>

            </div>
            <div class="col-2"></div>
        </div>
    </div>
</div>
<script src="/function/change-nav.js" current_page="Trang chủ"></script>