<link rel="stylesheet" href="/stylesheets/style.css">
<div class="bg-white container-fluid" style="width: 100%;">
    <div class="row  justify-content-between">
        <div class="title-section text-left">Quản lý mua sách</div>
        <div class="text-right" style="padding-right: 10px; padding-top:20px">
            <div> <img src="/images/icon-export.svg" alt=""> Xuất ra csv</div>
            <div><img src="/images/icon-import.svg" alt=""> Nhập từ csv</div>
        </div>
    </div>
    <div class="search-area display-flex padding-top-3em ">
        <div id="" class="input-group col-6 padding-right-3em">
            <input type="text" id="search-acc" class="form-control" placeholder="Tìm kiếm sách, tác giả, ..."
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="table-responsive padding-top-3em">
        <table class="table" id="table-manager">
            <thead>
                <tr>
                    <th scope="col">ISBN</th>
                    <th scope="col">Tên Sách</th>
                    <th scope="col">tái bản</th>
                    <th scope="col">Tác giả</th>
                    <th scope="col">Nhà xuất bản</th>
                    <th scope="col">Ngày đặt</th>
                    <th scope="col">Người đặt</th>
                </tr>
            </thead>
            <tbody>
                {{#each booking_data}}

                <tr class="booking-data">
                    <th scope="row" class="l-height-3">{{this.ISBN}}</th>
                    <th scope="row" class="l-height-3"> {{this.book_name}}</th>
                    <th class="l-height-3">{{this.reprint}}</th>
                    <th class="l-height-3"> {{this.author}}</th>
                    <th class="l-height-3"> {{this.producer}}</th>
                    <th class="l-height-3"> {{this.booking_date}}</th>
                    <th class="l-height-3"> {{this.orderer}}</th>
                </tr>

                {{/each}}
            </tbody>

        </table>
    </div>
    <div style="padding-bottom: 3em;">
    </div>

    <script src="/function/nav-lib.js" current_page="Quản lí mua sách"></script>