<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bg-white container-fluid" style="width: 100%;">
    <div class="row  justify-content-between">
        <div class="title-section text-left">Quản lý mua sách</div>
        <div class="csv-area" style="float: right">
            <div class="export-csv" id="btn">
                <i class="fa fa-table" aria-hidden="true"></i>Xuất file csv
            </div>
            <div class="input-csv"><i class="fa fa-table" aria-hidden="true"></i>Nhập từ file csv</div>
        </div>
    </div>
    <div class="search-area display-flex padding-top-3em ">
        <div id="" class="input-group col-6 padding-right-3em">
            <input type="text" id="search-acc" class="form-control" placeholder="Tìm kiếm sách, tác giả, ..."
                aria-label="Username" aria-describedby="basic-addon1">
            <div class="input-group-append">
                <a class="input-group-text" href="#"><img src="/images/search-icon.svg" alt="" style="width: 20px;"></a>
            </div>
        </div>
    </div>
    <div class="table-responsive padding-top-3em">
        <table class="table" id="table-manager">
            <thead>
                <tr>
                    <th style="white-space: nowrap;" scope="col">ISBN</th>
                    <th style="white-space: nowrap;" scope="col">Tên Sách</th>
                    <th style="white-space: nowrap;" scope="col">tái bản</th>
                    <th style="white-space: nowrap;" scope="col">Tác giả</th>
                    <th style="white-space: nowrap;" scope="col">Nhà xuất bản</th>
                    <th style="white-space: nowrap;" scope="col">Ngày đặt</th>
                    <th style="white-space: nowrap;" scope="col">Người đặt</th>
                </tr>
            </thead>
            <tbody>
                {{#each booking_data}}

                <tr class="booking-data">
                    <th style="white-space: nowrap;" scope="row" class="l-height-3">{{this.ISBN}}</th>
                    <th style="white-space: nowrap;" scope="row" class="l-height-3"> {{this.book_name}}</th>
                    <th style="white-space: nowrap;" class="l-height-3">{{this.reprint}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.author}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.producer}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.booking_date}}</th>
                    <th style="white-space: nowrap;" class="l-height-3"> {{this.orderer}}</th>
                </tr>

                {{/each}}
            </tbody>

        </table>
    </div>
    <div style="padding-bottom: 3em;">
    </div>

    <script src="/function/nav-lib.js" current_page="Quản lí mua sách"></script>
    <script src="/function/csv.js"></script>