<div class="container-fluid" style="padding:0; width:95%">
    <div class="content-section first-section bg-white no-padding">
        <div class="row justify-content-center" style="padding-top:50px">
            <div class="dropdown">
                <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sách
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Sách</a>
                    <a class="dropdown-item" href="#">Tin tức</a>
                </div>
            </div>
            <form id="searchbar-in-picture" class="input-group col-8">

                <input type="text" class="form-control" placeholder="Tìm kiếm sách, tin tức, ..." aria-label="Username"
                    aria-describedby="basic-addon1">
                <div class="input-group-append">
                    <a class="input-group-text" href="#"><img src="/images/search-icon.svg" alt=""
                            style="width: 20px;"></a>
                </div>
            </form>

        </div>
        <div class="row justify-content-center align-items-center" style="padding-top:10px">
            <div class="col-1"></div>
            <div class="col row justify-content-center">Có {{book_result.length}} kết quả</div>
            <div class="row align-items-center justify-content-center col-6">
                <div>Sắp xếp theo </div>

                <div class="dropdown">
                    <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Độ phổ biến
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Độ phổ biến</a>
                        <a class="dropdown-item" href="#">Gần nhất</a>
                    </div>
                </div>
            </div>
            <div class="col row justify-content-center">+ Thêm bộ lọc</div>
            <div class="col-1"></div>
        </div>
        {{#each book_result}}
        <div class="row justify-content-center" style="padding: 10px;">
            <div class="col-2">
                <div class="d-flex justify-content-end">
                    <img src={{this.thumbnail}} alt="" style="height: 150px;">

                </div>
            </div>
            <div class="col-8">
                <div class=" title-search">{{this.name}}</div>
                <div class="author-search">{{this.author}}</div>
                <div style="overflow:hidden; text-overflow: ellipsis;">{{this.description}}</div>
            </div>
        </div>
        {{/each}}
        <nav>
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>